.content1 {
    border: solid black;
    padding: 5px;
    background-color: cadetblue;
}

.content2 {
    border: solid black;
    padding: 5px;
    background-color: cadetblue;
}

.content3 {
    border: solid black;
    padding: 5px;
    background-color: cadetblue;
}


#title1 {
    border: solid black;
    background-color: brown;
    position: relative;
    margin-right: -8px;
    margin-top: -7px;
    text-align: center;
    width: 200px;
    float: right;
}

#title2 {
    border: solid black;
    background-color: lightcoral;
    position: relative;
    margin-right: -8px;
    margin-top: -7px;
    text-align: center;
    float: right;
    width: 200px;
}

#title3 {
    border: solid black;
    background-color: yellowgreen;
    position: relative;
    margin-right: -8px;
    margin-top: -7px;
    text-align: center;
    float: right;
    width: 200px;
}

@media(min-width: 768px) and (max-width: 991px) {
    .content3 {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 760px){
    .content2{
        margin-top:10px !important;
    }
    .content3{
        margin-top:10px !important;
    }
}